<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections >
    <section type="Dts.Projects.VideoConverter.ConversionEngine, Configuration" name="ConversionEngine"/>
  </configSections>

  <ConversionEngine>
    <Folders>
      <Folder Path="D:\Series\Continuum\T2" ForeignLanguage="false"></Folder>
    </Folders>
  </ConversionEngine>
</configuration>